<h1>Listing Data</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Country</th>
  </tr>

<% @data.each do |datum| %>
  <tr>
    <td><%= datum.name %></td>
    <td><%= datum.age %></td>
    <td><%= datum.country %></td>
    </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data', new_datum_path %>
